/*!
 custom css
 */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
 
 
 form		{width:400px; margin:auto;}
.header		{text-align:center; margin:3px 10px 15px 10px;}
.frmlabel	{display:block; margin-top:20px;}
.frmcontrol	{display:block; margin-bottom:20px; background-color:#96DEFF; width:250px; border:1px solid #000000;}
.frmbutton	{background-color:#FFB896;}


.taggert	{white-space: nowrap;}
.sem_no		{background-color:#00FF00; text-align:center;}
.sem_yes	{background-color:#32CD32; text-align:center;}
.header		{text-align:center; margin:3px 10px 15px 10px;}
.w3clogo	{border:0; width:88px; height:31px;}
tr:hover	{background-color:#F5F5DC;}